<div class="content_post" style="background-image: url(<%= tweet.image %>);">
  <p class="first-message" data-tweet-id=<%= tweet.id %>>
  <div class="more">
    <span><%= image_tag 'arrow_top.png' %></span>
    <ul class="more_list">
      <li>
        <%= link_to 'detail', tweet_path(tweet.id), method: :get %>
      </li>
      <% if user_signed_in? && current_user.id == tweet.user_id %>
        <li>
          <%= link_to 'edit', edit_tweet_path(tweet.id), method: :get %>
        </li>
        <li>
          <%= link_to 'delete', tweet_path(tweet.id), method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
  <p><%= tweet.text %></p>
  <span class="name">
    <a href="/users/<%= tweet.user.id %>">
      <span>post by</span><%= tweet.user.nickname %>
    </a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a class="twitter-share-button"
      href="https://twitter.com/intent/tweet?hashtags=FORMS,fashion,facemask">
          Tweet</a>
  </span>
</div>
<div class="content_sns">